@media all and (min-width: 992px) {
  header,
  section,
  footer {
    padding-left: 300px;
  }
}

.fsac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardheight {
  -webkit-transition: all 2s;
  transition: all 2s;
  min-height: 1248px !important;
}

@media all and (min-width: 992px) {
  .cardheight {
    -webkit-transition: all 1s;
    transition: all 1s;
    min-height: 648px !important;
  }
}

.showall {
  -webkit-transition: all 2s;
  transition: all 2s;
  visibility: visible !important;
  min-height: 1200px !important;
}

@media all and (min-width: 992px) {
  .showall {
    -webkit-transition: all 1s;
    transition: all 1s;
    min-height: 600px !important;
  }
}

.shadow {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html body {
  background-color: #b1b1b1;
  overflow-x: hidden;
  font-family: 'Amaranth', 'Noto Sans TC', sans-serif;
}

@media all and (min-width: 992px) {
  html body {
    font-size: 16px;
  }
}

#home {
  width: 100vw;
  height: 100vh;
  background-image: url(src/img/home/banner.jpg);
  background-position: center center;
  background-size: cover;
}

@media all and (min-width: 992px) {
  #home {
    padding-left: 300px;
  }
}

#home nav {
  visibility: visible;
  top: 0;
  left: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
}

@media all and (min-width: 992px) {
  #home nav {
    visibility: hidden;
  }
}

#home nav .brand-logo {
  width: 60px;
  height: 60px;
  margin: 5px;
}

#home .sidenav {
  overflow: hidden;
  background-color: transparent;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 30vh 0;
}

@media all and (min-width: 992px) {
  #home .sidenav {
    width: 300px;
    padding: 10vh 0;
  }
}

#home .sidenav ::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.02);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: -1;
  margin: -30px;
}

#home .sidenav #side-nav-logo {
  display: none;
}

@media all and (min-width: 992px) {
  #home .sidenav #side-nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px 0;
  }
  #home .sidenav #side-nav-logo img {
    width: 100px;
  }
}

#home .sidenav .divider {
  width: 80%;
  margin: 10px auto;
}

@media all and (min-width: 992px) {
  #home .sidenav .divider {
    width: 60%;
    margin: 40px auto;
  }
}

#home .sidenav li a h5 {
  color: snow;
  text-shadow: 1px 1px 1px black;
}

#home #oneself #photo img {
  border-radius: 50%;
}

#home #oneself #data {
  color: snow;
}

#home #oneself #data .tag {
  width: 5rem;
  display: inline-block;
  text-align: center;
  margin: 0 1rem;
  border: 1px solid snow;
}

@media all and (min-width: 992px) {
  #home #oneself #data .tag {
    font-size: 1.5rem;
    width: 8rem;
  }
}

@media all and (min-width: 992px) {
  #home #oneself #data {
    padding: 50px 50px;
  }
  #home #oneself #data h2 {
    text-align: left;
  }
}

#home #next {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-shadow: 0px 2px 2px black;
}

@media all and (min-width: 992px) {
  #home #next {
    left: calc(50% + 50px);
  }
}

#home #next a img {
  width: 30px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: jumping 1.5s infinite;
          animation: jumping 1.5s infinite;
}

@media all and (min-width: 992px) {
  #home #next a img {
    width: 60px;
  }
}

@-webkit-keyframes jumping {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, -9px);
            transform: translate(0px, -9px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes jumping {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, -9px);
            transform: translate(0px, -9px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

/* About */
#about {
  overflow-y: hidden;
}

#about .container .hashtags span {
  display: inline-block;
  padding: .5rem 1rem;
  margin: .3rem .3rem;
  -webkit-box-shadow: 1px 1px 1px 0px black;
          box-shadow: 1px 1px 1px 0px black;
}

#about .container .hashtags span:before {
  content: "# ";
  font-size: 1.2rem;
}

#about .container .btn-floating.toggle-btn {
  background-color: #616161;
  margin: 20px;
}

#about .container .card {
  background-color: rgba(255, 255, 255, 0.1);
}

#about .container .infocard {
  height: 48px;
}

#about .container .infocard .card-tabs .tabs {
  background-color: transparent;
}

#about .container .infocard .card-tabs .tabs .tab a {
  color: rgba(97, 97, 97, 0.6);
}

#about .container .infocard .card-tabs .tabs .tab a.active {
  background-color: transparent;
  color: #616161;
}

#about .container .infocard .card-tabs .tabs .tab :hover {
  background-color: transparent;
  color: #616161;
}

#about .container .infocard .card-tabs .tabs .indicator {
  background-color: rgba(97, 97, 97, 0.8);
}

#about .container .infocard .card-content {
  visibility: hidden;
  height: 0px;
}

#about .container .infocard .card-content .snapshot {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .container .infocard .card-content p {
  padding: 20px;
}

/* skill */
#skills .carousel {
  height: 200px !important;
}

@media all and (min-width: 992px) {
  #skills .carousel {
    height: 300px !important;
  }
}

#skills .carousel .carousel-logo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-skills.parallax-container {
  max-height: 200px;
}

@media all and (min-width: 992px) {
  .section-skills.parallax-container {
    max-height: 300px;
  }
}

/* Project */
#project .card .card-reveal {
  background-image: url(src/img/project/card-reveal-bg.jpg);
  background-size: cover;
}

#project .cardinfo {
  padding: 30px;
}

/* .card-reveal .overlay{
    position: relative;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.3);
} */
.section-coding-link.parallax-container {
  max-height: 200px;
}

.section-coding-link.parallax-container .btn {
  width: 10rem;
}

/* footer */
#footer .contact-link a {
  display: inline-block;
}

#footer .contact-link a img {
  margin: 0 10px;
  width: 50px;
}
/*# sourceMappingURL=index.css.map */