@media all and (min-width: 992px) {
  header,
  section,
  footer {
    padding-left: 300px;
  }
}

.shadow {
  background-color: rgba(0, 0, 0, 0.8) !important;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2) !important;
}

.fsac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardheight {
  -webkit-transition: all 2s;
  transition: all 2s;
  min-height: 1248px !important;
}

@media all and (min-width: 992px) {
  .cardheight {
    -webkit-transition: all 1s;
    transition: all 1s;
    min-height: 648px !important;
  }
}

.showall {
  -webkit-transition: all 2s;
  transition: all 2s;
  visibility: visible !important;
  min-height: 1200px !important;
}

@media all and (min-width: 992px) {
  .showall {
    -webkit-transition: all 1s;
    transition: all 1s;
    min-height: 600px !important;
  }
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html body {
  background-color: #b1b1b1;
  overflow-x: hidden;
  font-family: 'Amaranth', 'Noto Sans TC', sans-serif;
}

@media all and (min-width: 992px) {
  html body {
    font-size: 16px;
  }
}

#home {
  width: 100vw;
  height: 100vh;
}

#home .slider {
  z-index: -1;
}

#home nav {
  visibility: visible;
  top: 0;
  left: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
}

@media all and (min-width: 992px) {
  #home nav {
    visibility: hidden;
  }
}

#home nav .brand-logo {
  width: 60px;
  height: 60px;
  margin: 5px;
}

@media all and (min-width: 992px) {
  #home #oneself #photo {
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#home #oneself #photo #photo-content img {
  border-radius: 50%;
}

@media all and (min-width: 992px) {
  #home #oneself #photo #photo-content {
    width: 380px;
  }
}

#home #oneself #data {
  color: snow;
}

@media all and (min-width: 992px) {
  #home #oneself #data {
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #home #oneself #data h2 {
    text-align: center;
    margin: 0;
  }
}

#home #oneself #data .tag {
  display: inline-block;
  text-align: center;
  margin: 0 1rem;
  border: 1px solid snow;
  width: 5rem;
}

@media all and (min-width: 992px) {
  #home #oneself #data .tag {
    font-size: 1.5rem;
    width: 8rem;
  }
}

#home #next {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-shadow: 0px 2px 2px black;
}

@media all and (min-width: 992px) {
  #home #next {
    left: calc(50% + 150px);
  }
}

#home #next a img {
  width: 30px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: jumping 1.5s infinite;
          animation: jumping 1.5s infinite;
}

@media all and (min-width: 992px) {
  #home #next a img {
    width: 60px;
  }
}

@-webkit-keyframes jumping {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, -9px);
            transform: translate(0px, -9px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes jumping {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, -9px);
            transform: translate(0px, -9px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.sidenav {
  overflow: hidden;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  padding: 30vh 0;
}

@media all and (min-width: 992px) {
  .sidenav {
    width: 300px;
    padding: 10vh 0;
  }
}

.sidenav ::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: -1;
  margin: -30px;
  background: rgba(0, 0, 0, 0.02);
}

@media all and (min-width: 992px) {
  .sidenav ::before {
    background: transparent;
  }
}

.sidenav #side-nav-logo {
  display: none;
}

@media all and (min-width: 992px) {
  .sidenav #side-nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px 0;
  }
  .sidenav #side-nav-logo img {
    width: 150px;
  }
}

.sidenav .divider {
  width: 80%;
  margin: 10px auto;
}

@media all and (min-width: 992px) {
  .sidenav .divider {
    width: 60%;
    margin: 50px auto;
  }
}

.sidenav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidenav li a h5 {
  color: snow;
  text-shadow: 1px 1px 1px black;
}

.sidenav li a.active {
  padding-left: 50px;
}

.sidenav li a.active h5 {
  padding-left: 5px;
  border-left: 5px solid #e53935;
}

/* About */
#about {
  overflow-y: hidden;
}

#about .container .hashtags span {
  display: inline-block;
  padding: .5rem 1rem;
  margin: .3rem .3rem;
  -webkit-box-shadow: 1px 1px 1px 0px black;
          box-shadow: 1px 1px 1px 0px black;
}

#about .container .hashtags span:before {
  content: "# ";
  font-size: 1.2rem;
}

#about .container .toggle-btn {
  margin: 20px;
}

#about .container .toggle-btn:hover i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

#about .container .card {
  background-color: rgba(255, 255, 255, 0.1);
}

#about .container .infocard {
  height: 48px;
}

#about .container .infocard .card-tabs .tabs {
  background-color: transparent;
}

#about .container .infocard .card-tabs .tabs .tab a {
  color: rgba(80, 80, 80, 0.6);
  font-weight: 900;
}

#about .container .infocard .card-tabs .tabs .tab a.active {
  background-color: transparent;
  color: #505050;
}

#about .container .infocard .card-tabs .tabs .tab :hover {
  background-color: transparent;
  color: #505050;
}

#about .container .infocard .card-tabs .tabs .indicator {
  background-color: rgba(50, 50, 50, 0.6);
}

#about .container .infocard .card-content {
  visibility: hidden;
  height: 0px;
}

#about .container .infocard .card-content .snapshot {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .container .infocard .card-content p {
  padding: 20px;
}

/* skill */
#skills {
  max-height: 200px;
}

@media all and (min-width: 992px) {
  #skills {
    max-height: 300px;
  }
}

#skills .carousel {
  height: 200px !important;
}

@media all and (min-width: 992px) {
  #skills .carousel {
    height: 300px !important;
  }
}

#skills .carousel .carousel-logo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#skills .carousel .carousel-logo span {
  display: none;
}

@media all and (min-width: 992px) {
  #skills .carousel .carousel-logo span {
    display: inline-block;
  }
}

/* Project */
#project .card .card-reveal {
  background-image: url(src/img/project/card-reveal-bg.jpg);
  background-size: cover;
}

#project .cardinfo {
  padding: 30px;
}

#project .card-reveal {
  background-position: center bottom;
}

#project .card-reveal ul li {
  margin-top: 10px;
}

@media all and (min-width: 992px) {
  #project .card-reveal ul li {
    margin-top: 20px;
  }
}

#codinglink {
  max-height: 250px;
}

#codinglink #coding-link-content {
  padding-top: 30px;
}

@media all and (min-width: 992px) {
  #codinglink #coding-link-content {
    padding-top: 50px;
  }
}

#codinglink #coding-link-content .btn {
  margin-top: 10px;
  width: 10rem;
}

/* footer */
#footer {
  padding-top: 5vh;
}

#footer h5 {
  margin-bottom: 20px;
}

#footer .contact-link a {
  display: inline-block;
}

#footer .contact-link a img {
  margin: 0 10px;
  width: 30px;
}

@media all and (min-width: 992px) {
  #footer .contact-link a img {
    width: 50px;
  }
}

#footer .fixed-action-btn.toolbar {
  height: 60px;
  z-index: 999;
}

#footer .fixed-action-btn.toolbar ul li img {
  max-width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5px 0;
}

#extend-nav {
  background-color: #b1b1b1;
}

#extend {
  width: 100vw;
  min-height: 100vh;
  background-image: url(./src/img/extend/BG.jpg);
  background-attachment: fixed;
  background-position: center center;
}

#extend .container {
  padding-top: 2vh;
}

#extend .container .card {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

#extend .container .card .card-tabs .tabs {
  background-color: transparent;
}

#extend .container .card .card-tabs .tabs .tab a {
  color: rgba(97, 97, 97, 0.6);
}

#extend .container .card .card-tabs .tabs .tab a.active {
  background-color: transparent;
  color: #616161;
}

#extend .container .card .card-tabs .tabs .tab :hover {
  background-color: transparent;
  color: #616161;
}

#extend .container .card .card-tabs .tabs .indicator {
  background-color: rgba(50, 50, 50, 0.6);
}

#extend .container .card .card-tabs .tab.disabled a {
  color: rgba(102, 147, 153, 0.7);
}

#extend .container .card .card-tabs .tab.disabled a :hover {
  color: rgba(102, 147, 153, 0.7);
}

#extend .container .card .card-content .card-image span {
  text-shadow: 0px 2px 1px black;
}

#extend .container .card .card-content .card-action {
  background-color: transparent;
}
/*# sourceMappingURL=index.css.map */