$pc-media:992px;
$pad-media:768px;
$phone-media:480px;
$phones-media:479px;

//電腦
@mixin pc-width() {
    @media all and (min-width: $pc-media) {
        @content;
    }
}

//平板
@mixin pad-width() {
    @media all and (min-width:$pad-media) {
        @content;
    }
}

//手機
@mixin phone-width() {
    @media all and (min-width: $phones-media) {
        @content;
    }
}


html {
    overflow-x: hidden;
    scroll-behavior: smooth;

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        font-family: 'Amaranth', 'Noto Sans TC', sans-serif;

        @include pc-width {
            font-size: 16px;
        }


    }
}


header {
    nav {
        line-height: 48px;

        @include pc-width {
            line-height: 56px;
        }

        .nav-wrapper {
            background-color: rgb(245, 245, 245);

            a {
                img {
                    height: 50px;
                    vertical-align: middle;
                    @include pc-width{
                        height: 64px;
                    }
                }
            }

        }

        .navbar1 {
            display: flex;
            justify-content: space-around;
            align-items: center;

            ul {
                li {
                    width: 150px;
                }
            }

        }

        .navbar2 {
            line-height: 56px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include pc-width {
                justify-content: center;
            }
        }
    }

    .sidenav {


        #side-nav-logo {
            margin-top: 50px;

        }

    }

}

main {
    flex: 1 0 auto;
    padding: 10vh 0;
}