$pc-media:992px;
$pad-media:768px;
$phone-media:480px;
$phones-media:479px;

//電腦
@mixin pc-width() {
    @media all and (min-width: $pc-media) {
        @content;
    }
}

//平板
@mixin pad-width() {
    @media all and (min-width:$pad-media) {
        @content;
    }
}

//手機
@mixin phone-width() {
    @media all and (min-width: $phones-media) {
        @content;
    }
}

header,
section,
footer {
    @include pc-width {
        padding-left: 300px;
    }
}

.fsac {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cardheight {
    transition: all 2s;
    min-height: 1248px !important;

    @include pc-width {
        transition: all 1s;
        min-height: 648px !important;
    }


}

.showall {
    transition: all 2s;
    visibility: visible !important;
    min-height: 1200px !important;

    @include pc-width {
        transition: all 1s;
        min-height: 600px !important;
    }


}

.shadow {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

// Basic
html {
    overflow-x: hidden;
    scroll-behavior: smooth;

    body {
        background-color: rgb(177, 177, 177);
        overflow-x: hidden;
        font-family: 'Amaranth', 'Noto Sans TC', sans-serif;

        @include pc-width {
            font-size: 16px;
        }


    }
}

// header
#home {
    width: 100vw;
    height: 100vh;
    // height: -webkit-fill-available;
    background-image: url(src/img/home/banner.jpg);
    background-position: center center;
    background-size: cover;

    @include pc-width {
        padding-left: 300px;
    }

    nav {
        visibility: visible;

        @include pc-width {
            visibility: hidden;
        }

        top: 0;
        left: 0;
        background-color: transparent;
        box-shadow: none;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;

        .brand-logo {
            width: 60px;
            height: 60px;
            margin: 5px;
        }
    }



    .sidenav {
        overflow: hidden;
        background-color: transparent;
        background: hsla(0, 0%, 100%, .1);
        width: 100%;
        padding: 30vh 0;

        @include pc-width {
            width: 300px;
            padding: 10vh 0;
        }

        ::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, .02);
            filter: blur(20px);
            z-index: -1;
            margin: -30px;
        }


        #side-nav-logo {
            display: none;

            @include pc-width {
                display: flex;
                justify-content: center;
                margin: 50px 0;

                img {
                    width: 100px;
                }
            }

        }

        .divider {
            width: 80%;
            margin: 10px auto;

            @include pc-width {
                width: 60%;
                margin: 40px auto;
            }

        }

        li {
            a {
                h5 {
                    color: snow;
                    text-shadow: 1px 1px 1px black;
                }
            }
        }

    }

    #oneself {
        #photo {

            @include pc-width {}

            img {
                border-radius: 50%;
            }
        }


        #data {
            color: snow;

            .tag {
                width: 5rem;
                display: inline-block;
                text-align: center;
                margin: 0 1rem;
                border: 1px solid snow;

                @include pc-width {
                    font-size: 1.5rem;
                    width: 8rem;
                }
            }

            @include pc-width {
                padding: 50px 50px;

                h2 {
                    text-align: left;
                }
            }

        }

    }

    #next {

        position: absolute;
        bottom: 10%;
        left: 50%;

        @include pc-width {
            left: calc(50% + 50px);
        }

        transform: translateX(-50%);
        text-shadow: 0px 2px 2px black;

        a {

            img {
                width: 30px;

                @include pc-width {
                    width: 60px;
                }

                height: auto;
                object-fit: cover;
                animation: jumping 1.5s infinite;

                @keyframes jumping {
                    0% {
                        transform: translate(0px, 0px);
                    }

                    50% {
                        transform: translate(0px, -9px);
                    }

                    100% {
                        transform: translate(0px, 0px);
                    }
                }

                @include pc-width {
                    // transform:scale(5) ;
                }
            }
        }

    }
}


/* About */
#about {
    overflow-y: hidden;

    .container {
        .hashtags {
            span {
                display: inline-block;
                padding: .5rem 1rem;
                margin: .3rem .3rem;
                box-shadow: 1px 1px 1px 0px black;

                &:before {
                    content: "# ";
                    font-size: 1.2rem;
                }
            }
        }

        .btn-floating.toggle-btn {
            // background-color: rgb(97, 97, 97);
            margin: 20px;
        }

        .card {
            background-color: rgba(255, 255, 255, .1);
        }

        .infocard {
            height: 48px;

            .card-tabs {
                .tabs {
                    background-color: transparent;

                    .tab {
                        a {
                            color: rgba(97, 97, 97, 0.6);
                        }

                        a.active {
                            background-color: transparent;
                            color: rgb(97, 97, 97);
                        }

                        :hover {
                            background-color: transparent;
                            color: rgb(97, 97, 97);
                        }
                    }

                    .indicator {
                        background-color: rgba(97, 97, 97, 0.8);
                    }
                }

                // .tab.disabled {
                //     a {
                //         color: rgba(102, 147, 153, 0.7);

                //         :hover {
                //             color: rgba(102, 147, 153, 0.7);
                //         }
                //     }
                // }
            }

            .card-content {

                visibility: hidden;
                height: 0px;


                .snapshot {
                    justify-content: center;

                    img {

                        // width: 100%;
                        // height: auto;
                        @include pc-width {
                            // width: 300px;
                            // margin:30px 10PX;
                        }
                    }
                }

                p {
                    padding: 20px;
                }
            }
        }
    }
}



/* skill */
#skills {
    .carousel {
        height: 200px !important;

        @include pc-width {
            height: 300px !important;
        }

        .carousel-logo {
            flex-direction: column;
        }

    }
}

.section-skills.parallax-container {
    max-height: 200px;

    @include pc-width {
        max-height: 300px;
    }
}



/* Project */
#project {
    .card {
        .card-reveal {
            background-image: url(src/img/project/card-reveal-bg.jpg);
            background-size: cover;
        }
    }

    .cardinfo {
        padding: 30px;
    }
}


/* .card-reveal .overlay{
    position: relative;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.3);
} */


// coding
#coding-link {}

.section-coding-link.parallax-container {
    max-height: 200px;

    .btn {
        width: 10rem;
    }
}


/* footer */
#footer {
    .contact-link a {
        display: inline-block;

        img {
            margin: 0 10px;
            width: 50px;
        }
    }

    .fixed-action-btn.toolbar {
        height: 70px;
        // line-height: 1.5;
        // font-weight: normal;
        // color: rgba(0, 0, 0, 0.87);
        // font-size: 14px;
        // font-family: 'Amaranth', sans-serif;
        // box-sizing: border-box;
        // position: fixed;
        // right: 23px;
        // margin-bottom: 0;
        // z-index: 997;
        // padding: 0;
        // height: 56px;
        // transition: transform 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s, background-color 0s linear 0.2s;
        // text-align: center;
        // width: 100%;
        // bottom: 0px;
        // left: 0px;
        // overflow: hidden;
        // background-color: rgb(84, 110, 122);
        ul {
            li {
                img {
                    max-width: 60px;
                    object-fit: contain;
                    padding: 5px 0;
                }
            }
        }


    }
}